{% extends 'base.html' %}
{% block title %} {{ block.super }} | home {% endblock %}
{% block content %}
<section>
  <div class="row">
    <h2 class="custom-text-dark pt-5 ps-3 pb-2">Featured Properties
    </h2>
    {% for property in properties %}
    <a class="text-decoration-none" href="{% url 'property_details' property.id %}">
      <div class="row featured-property m-3 border-bottom shadow">
        <div class="col-12 col-md-6 col-lg-4 p-0">
          <img src="{{ property.featured_image.url }}" alt="{{ property.name }}">
        </div>
        <div class="col-12 col-md-6 col-lg-8 p-0">
          <div class="col-12 px-5 bg-light py-2">
            <h3 class="custom-text-dark">
              {{ property.name }}
            </h3>
            <p class="custom-text-dark">
              {{ property.description }}
            </p>
          </div>
          <div class="row custom-text-dark px-5 pt-2">
            <div class="col-12 col-md-6 col-lg-3 py-3">
              <i class="fa-sharp fa-solid fa-sterling-sign">
              </i> {{ property.price_per_night }} per night
            </div>
            <div class="col-12 col-md-6 col-lg-3 py-3">
              <i class="fa-sharp fa-solid fa-bed">
              </i> {{ property.number_of_bedrooms }} bedrooms
            </div>
            <div class="col-12 col-md-6 col-lg-3 py-3">
              <i class="fa-sharp fa-solid fa-bath">
              </i> {{ property.number_of_bathrooms }} bathrooms
            </div>
            <div class="col-12 col-md-6 col-lg-3 py-3">
              <i class="fa-sharp fa-solid fa-location-dot">
              </i> {{ property.city }}, {{ property.country.name }}
            </div>
          </div>
        </div>
      </div>
    </a>
    {% endfor %}
  </div>
</section>
<section>
  <div class="row m-5">
    <div class="col-12 col-md-8 py-3 px-5 m-auto custom-bg-dark custom-text-light rounded-1 shadow-lg text-space ">
      <a class="navbar-brand font-logo custom-text-dark ps-2 mb-3" href="{% url 'home' %}">
        <img src="{{ MEDIA_URL }}/logo-light.png" alt="The Bodhi Tree logo" class="logo">
        <h2 class="m-0 custom-text-light font-logo">The Bodhi Tree
        </h2>
        <hr class="w-50 mt-1 mb-0 custom-text-light">
        <h3 class="custom-text-light font-logo">Nature Retreats
        </h3>
      </a>
      <h3 class="font-logo text-center pb-3">About Us
      </h3>
      <p>Here at The Bodhi Tree, we are all aout connecting you with the wonders of nature. Our properties are the perfect place for you to experience wellness and soothe your mind
      </p>
      <p>We offer beautiful properties in close contact with nature, where you can relax and reconnect with yourself, diving into the beauty of these destinations. Here you can let nature be your guide.
      </p>
      <p>Discover the magic of our nature retreats and embark on a journey that leaves you feeling refreshed, revitalized, and deeply connected to your surroundings.
      </p>
    </div>
  </div>
</section>
<section>
  <!-- FROM MAILCHIMP -->
  <div class="row my-5">
    <div class="col-12 col-md-8 offset-md-2 col-lg-6 offset-lg-3 custom-text-dark">
      <div id="mc_embed_shell">
        <div id="mc_embed_signup">
          <form action="https://herokuapp.us8.list-manage.com/subscribe/post?u=b0bdeab3bc6c5b7126e4336f8&amp;id=e68fe0e718&amp;f_id=00a508e0f0" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank">
            <div id="mc_embed_signup_scroll">
              <h2 class="custom-text-dark">Subscribe to our newsletter
              </h2>
              <div class="mc-field-group">
                <label for="mce-EMAIL">Email Address 
                  <span class="asterisk">*
                  </span>
                </label>
                <input type="email" name="EMAIL" class="required email" id="mce-EMAIL" required="" value="">
                <span id="mce-EMAIL-HELPERTEXT" class="helper_text">
                </span>
              </div>
              <div id="mce-responses" class="clear foot">
                <div class="response" id="mce-error-response" style="display: none;">
                </div>
                <div class="response" id="mce-success-response" style="display: none;">
                </div>
              </div>
              <div aria-hidden="true" style="position: absolute; left: -5000px;"> /* real people should not fill this in and expect good things - do not remove this or risk form bot signups */ 
                <input type="text" name="b_b0bdeab3bc6c5b7126e4336f8_e68fe0e718" tabindex="-1" value="">
              </div>
              <div class="optionalParent">
                <div class="clear foot">
                  <input type="submit" name="subscribe" id="mc-embedded-subscribe" class="submit-btn m-0" value="Subscribe">
                  <p style="margin: 0px auto;">
                    <a href="http://eepurl.com/iAkQn2" title="Mailchimp - email marketing made easy and fun">
                      <span style="display: inline-block; background-color: transparent; border-radius: 4px;">
                        <img class="refferal_badge" src="https://digitalasset.intuit.com/render/content/dam/intuit/mc-fe/en_us/images/intuit-mc-rewards-text-dark.svg" alt="Intuit Mailchimp" style="width: 220px; height: 40px; display: flex; padding: 2px 0px; justify-content: center; align-items: center;">
                      </span>
                    </a>
                  </p>
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>
{% endblock %}
