{% extends 'base.html' %}
{% block content %}
<form action="{% url 'booking' %}" method="POST">
  {% csrf_token %}
  <div class="row mt-3 custom-text-dark">
    <h1 class="custom-text-dark">Create a booking
    </h1>
    <div class="col-12 col-md-6">
      <fieldset class="row p-2">
        <h2 class="custom-text-dark">Contact Information
          </h1>
        {{ form.full_name | as_crispy_field }}
        {{ form.email | as_crispy_field  }}
        {{ form.phone_number | as_crispy_field }}
      </fieldset>
      <fieldset class="p-2">
        <h2 class="custom-text-dark">Address
        </h2>
        {{ form.address | as_crispy_field }}
        {{ form.city | as_crispy_field }}
        {{ form.country | as_crispy_field }}
      </fieldset>
      <fieldset class="row p-2">
        <h2 class="custom-text-dark">About your Stay
        </h2>
        <!-- if booking page accessed from property details view, autopopulates the property field with parameter passed to the view -->
        {% if property %}
        <input type="hidden" name="property" value="{{ property }}">
        <!-- else displays input for selecting the property -->
        {% else %}
        {{ form.property | as_crispy_field }}
        {% endif %}
        {{ form.checkin_date | as_crispy_field }}
        {{ form.checkout_date | as_crispy_field }}
        {{ form.number_of_guests | as_crispy_field }}
      </fieldset>
      <fieldset class="row p-2">
        <button class="submit-btn" type="submit" id="payment-btn">Proceed to payment
        </button>
      </fieldset>
    </div>
    <div class="col-12 col-md-6 border-bottom shadow my-3">
      <h2 class="custom-text-dark">You are booking a stay at:
      </h2>
      <div class="row featured-property m-3 ">
        <div class="col-12 p-0">
          <img src="{{ property.featured_image.url }}" alt="{{ property.name }}">
        </div>
        <div class="col-12 p-0">
          <div class="col-12 px-5 bg-light py-2">
            <h2 class="custom-text-dark">{{ property.name }}
            </h2>
            <p class="custom-text-dark">{{ property.description }}
            </p>
          </div>
          <div class="row custom-text-dark px-5 pt-2">
            <div class="col-12 col-md-6 col-lg-3 py-3">
              <i class="fa-sharp fa-solid fa-sterling-sign">
              </i> {{ property.price_per_night }} per night
            </div>
            <div class="col-12 col-md-6 col-lg-3 py-3">
              <i class="fa-sharp fa-solid fa-bed">
              </i> {{ property.number_of_bedrooms }} bedrooms
            </div>
            <div class="col-12 col-md-6 col-lg-3 py-3">
              <i class="fa-sharp fa-solid fa-bath">
              </i> {{ property.number_of_bathrooms }} bathrooms
            </div>
            <div class="col-12 col-md-6 col-lg-3 py-3">
              <i class="fa-sharp fa-solid fa-location-dot">
              </i> {{ property.city }}, {{ property.country.name }}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</form>
{% endblock %}
