{% extends 'base.html' %}

{% block title %} {{ block.super }} | {{ property.name }} {% endblock %}

{% block content %}
    <section>
        <div class="container-fluid">
            <div class="row pt-5 px-3 pb-2">
                <div class="col-9">
                    <h1 class="custom-text-dark">{{ property.name }}</h1>
                </div>
                <div class="col-3 d-flex flex-row-reverse">
                    <a href="" class="default-btn font-logo">Book Now</a>
                </div>
            </div>
            <div class="p-3 border-bottom shadow" style="--bs-border-opacity: .7;">
                <img src="{{ property.featured_image.url }}" class="w-100 img-fluid rounded-3" alt="">
            </div>
            <div class="row custom-text-dark px-5 pt-2">
                <div class="col-12 col-md-6">
                    <h2>The Property</h2>
                    <p class="custom-text-dark description ps-3">{{ property.description }}</p>
                </div>
                <div class="col-12 col-md-6 custom-bg-dark">
                    <div class="col">{{ property.address }}, {{ property.city }}, {{ property.country.name }}</div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}