<ul class="navbar-nav ms-auto mb-2 mb-lg-0">
    <li class="nav-item nav-hover">
        <a class="nav-link active" aria-current="page" href="{% url 'home' %}">Home</a>
    </li>
    <hr class="d-m-none m-0">
    <li class="nav-item nav-hover">
        <a class="nav-link" href="{% url 'all_properties' %}">View all Properties</a>
    </li>
    <hr class="d-m-none m-0">
    <li class="nav-item nav-hover">
        <a class="nav-link" href="#">{% if user.is_authenticated %}My Bookings{% else %}Retrieve My Booking{% endif %}</a>
    </li>
    <hr class="d-m-none m-0">
    <li class="nav-item dropdown">
        <a class="nav-link" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            <div class="circle-icon">
                <i class="fas fa-user"></i>
            </div>
        </a>
        <ul class="dropdown-menu dropdown-menu-end">
            {% if user.is_authenticated %}
                <li><a class="dropdown-item" href="{% url 'account_logout' %}">Logout</a></li>
            {% else %}
                <li><a class="dropdown-item" href="{% url 'account_signup' %}">Create an account</a></li>
                <li><a class="dropdown-item" href="{% url 'account_login' %}">Log in</a></li>
            {% endif %}
        </ul>
    </li>
    <hr class="d-m-none m-0">
    </ul>