<ul class="navbar-nav ms-auto mb-2 mb-lg-0">
    <li class="nav-item nav-hover border-bottom shadow-sm">
      <a class="nav-link active" aria-current="page" href="{% url 'home' %}">Home
      </a>
    </li>
    <li class="nav-item nav-hover border-bottom shadow-sm">
      <a class="nav-link" href="{% url 'all_properties' %}">View all Properties
      </a>
    </li>
    <li class="nav-item nav-hover border-bottom shadow-sm">
      {% if user.is_authenticated %}
      <a class="nav-link" href="{% url 'my_bookings' %}">My Bookings
      </a>
      {% else %}
      <a class="nav-link" href="{% url 'booking_search' %}">Retrieve My Booking
      </a>
      {% endif %}
    </li>
    <li class="nav-item dropdown border-bottom shadow-sm">
      <a class="nav-link" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
        <div class="circle-icon">
          <i class="fas fa-user">
          </i>
        </div>
      </a>
      <ul class="dropdown-menu dropdown-menu-end">
        {% if user.is_authenticated %}
        <li>
          <a class="dropdown-item" href="{% url 'account_logout' %}">Logout
          </a>
        </li>
        {% else %}
        <li>
          <a class="dropdown-item" href="{% url 'account_signup' %}">Create an account
          </a>
        </li>
        <li>
          <a class="dropdown-item" href="{% url 'account_login' %}">Log in
          </a>
        </li>
        {% endif %}
      </ul>
    </li>
  </ul>
  